<!DOCTYPE html>
<html>
<head>
<title>TAF | PMRN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>


<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="home">
  
  <div class="w3-center">
  <h4>EXAMES DE AVALIAÇÃO DO CONDICIONAMENTO FÍSICO (EACF)</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">PMRN</h1>    
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>EACF-1</h3><br>  
  <i class="fa fa-heartbeat w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Critério de avaliação para alunos já matriculados nos cursos: CSP, CAO, CFO, CHO, CAS, CFS e CFP.</p>
  <a href="/eacf1_masculino/" class="w3-button w3-round-large w3-theme-d3 " style="width:45%">EACF-1 <br> MASCULINO</a>
  <a href="/eacf1_feminino/"" class="w3-button w3-round-large w3-theme " style="width:45%">EACF-1 <br> FEMININO</a>
  </div>
</div>

<div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
    <h3>EACF-6</h3><br>
    <i class="fa fa-heartbeat w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
    <p>Permite a conceituação do desempenho físico individual (DFI). Destinado à pontuação para o QUADRO DE ACESSO.</p>  
    <a href="/eacf6_masculino/" class="w3-button w3-round-large w3-theme-d3 " style="width:45%">EACF-6 <br> MASCULINO</a>
    <a href="/eacf6_feminino/"" class="w3-button w3-round-large w3-theme " style="width:45%">EACF-6 <br> FEMININO</a>
    </div>
  </div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>EACF-2</h3><br>
  <i class="fa fa-heartbeat w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Destinado à seleção de policiais aos cursos e estágios de interesse da PMRN, FFAA, COIRMÃS e para a Força Nacional.</p>  
  <a href="#" class="w3-button w3-round-large w3-theme-d3 w3-disabled" style="width:45%">MÓDULO EM <br> CONSTRUÇÃO</a>
  </div>
</div>

</div>

<div class="w3-row-padding w3-center w3-margin-top">

<div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
    <h3>EACF-3</h3><br>
    <i class="fa fa-heartbeat w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
    <p>Destinado ao processo de seleção dos quadros da PMRN, vinculado ao ingresso no CFO e CFP.</p>  
    <a href="#" class="w3-button w3-round-large w3-theme-d3 w3-disabled" style="width:45%">MÓDULO EM <br> CONSTRUÇÃO</a>
    </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>EACF-4</h3><br>
  <i class="fa fa-heartbeat w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Destinado ao processo de seleção dos quadros de Saúde e Capelania da PMRN, vinculado ao ingresso no EAOS.</p>  
  <a href="#" class="w3-button w3-round-large w3-theme-d3 w3-disabled" style="width:45%">MÓDULO EM <br> CONSTRUÇÃO</a>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>EACF-5</h3><br>
  <i class="fa fa-heartbeat w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Critério de avaliação para alunos já matriculados no Estágio de Adaptação de Oficiais de Saúde (EAOS).</p>
  <a href="#" class="w3-button w3-round-large w3-theme-d3 w3-disabled" style="width:45%">MÓDULO EM <br> CONSTRUÇÃO</a>
  </div>
</div>

</div>

<br>

<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
    <h3>© 2024 CINCO</h3>
    <p>Desenvolvido pelo 3º Sgt PM <a href="https://www.instagram.com/vandersonfabio/" target="_blank">Vanderson</a></p>
    Coordenadoria de Informática e Comunicação Social/6º BPM
</footer>

</body>
</html>
