<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    .swal-footer {
        text-align: center;
    }
    .sweet-warning{
        background-color: rgb(86, 90, 87);
    }
</style>

{% load static %}

<title>Calculadora TAF | PMRN</title>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<div class="container">    
    <br>
    <div class="alert alert-info text-center">
        <h3>CALCULADORA TAF</h3>
        <h5>SEXO MASCULINO</h5>
        <hr>
        <h6>Para a versão FEMININA <a href="/feminino/">clique aqui</a></h6>
    </div>    
    <br>
    <form action="{% url 'resultado' %}">
        <div class="form-group">
            <label for="idade_input">Faixa etária</label>
            <select class="form-control form-control-lg faixa_etaria" id="idade_input" name="idade_input">
              <option value="24">18 a 24 anos</option>
              <option value="29">25 a 29 anos</option>
              <option value="34">30 a 34 anos</option>
              <option value="39">35 a 39 anos</option>
              <option value="44">40 a 44 anos</option>
              <option value="49">45 a 49 anos</option>
              <option value="50">50 anos ou mais</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tempo_corrida_input">Corrida (2.400m)</label>
            <input type="tel" class="form-control form-control-lg corrida" 
            id="tempo_corrida_input" name="tempo_corrida_input" placeholder="Insira o tempo na corrida">            
        </div>
        <div class="form-group">
            <label for="tempo_shuttle_input">Shuttle Run</label>
            <input type="number" step=".1" class="form-control form-control-lg shuttle" 
            id="tempo_shuttle_input" name="tempo_shuttle_input" placeholder="Insira o tempo no shuttle run">
        </div>
        <div class="form-group">
            <label for="n_flexoes_barra_input">Flexão na barra</label>
            <input type="number" class="form-control form-control-lg f_barra" 
            id="n_flexoes_barra_input" name="n_flexoes_barra_input" 
            min="0" max="99" placeholder="Insira o nº de flexões na barra">
        </div>
        <div class="form-group">
            <label for="n_flexoes_solo_input">Flexão no solo</label>
            <input type="number" class="form-control form-control-lg f_solo" 
            id="n_flexoes_solo_input" name="n_flexoes_solo_input" 
            min="0" max="99" placeholder="Insira o nº de flexões no solo">
        </div>
        <div class="form-group">
            <label for="n_abdominais_input">Abdominal remador</label>
            <input type="number" class="form-control form-control-lg" 
            id="n_abdominais_input" name="n_abdominais_input" 
            min="0" max="99" placeholder="Insira o nº de abdominais">
        </div>
        <div class="form-group">
            <input type="submit" value="Calcular pontuação" class="btn btn-dark btn-lg btn-block">
        </div>
        <div class="form-group text-center">
            <a class="btn btn-outline-danger" 
            href="https://drive.google.com/file/d/1XTq4rAo0iScnLqMZ3GD4wsE8WgnCgIMD/view?usp=sharing" 
            target="_blank">Dúvidas sobre os índices? Clique aqui.</a>
        </div>            
        </div>
    </form>    
</div>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Desenvolvido pelo Cb PM Vanderson |  
      <a class="text-dark" href="https://www.instagram.com/assecom6bpm/" target="_blank">Assecom | 6º BPM</a>
    </div>
    <!-- Copyright -->
</footer>

<script>    

    var behavior_corrida = function (val) {
    return val.replace(/\D/g, '').length === 4 ? '00:00' : '0:009';
    },
    options = {
        onKeyPress: function (val, e, field, options) {
            field.mask(behavior.apply({}, arguments), options);
        }
    };

    var behavior_shuttle = function (val) {
    return val.replace(/\D/g, '').length === 3 ? '00.0' : '0.09';
    },
    options = {
        onKeyPress: function (val, e, field, options) {
            field.mask(behavior.apply({}, arguments), options);
        }
    };

    $('.corrida').mask(behavior_corrida, options);
    $('.shuttle').mask(behavior_shuttle, options);

    $("select.faixa_etaria").change(function(){
        var idade = $(this).children("option:selected").val();

        if(idade == 50){
            $(".shuttle").val('')
            $(".f_barra").val('')          
            $(".shuttle").prop('disabled', true);
            $(".f_barra").prop('disabled', true);

            swal({
                title: "Idade acima de 50 anos",
                text: "Os avaliados com idade igual ou superior a 50 anos deverão executar obrigatoriamente a \n - CORRIDA de 2400m, \n - FLEXÃO DE BRAÇO NO SOLO e \n - ABDOMINAL TIPO REMADOR.",
                icon: "info",
            });
            
        }
        else if(idade > 34){
            $(".shuttle").prop('disabled', false);
            $(".f_barra").prop('disabled', false);
            $(".f_solo").prop('disabled', false);        
            swal({
                closeOnClickOutside: false,
                title: "Idade entre 35 e 49 anos",
                text: "Os avaliados nesta faixa etária " +
                    "poderão OPTAR pela execução da FLEXÃO DE BRAÇO NO SOLO ou na "+
                    "BARRA FIXA, sendo vetada a execução das duas atividades para este grupo. \n \n"+
                    "Escolha qual exercício você prefere realizar:",
                icon: "warning",
                buttons: {                                        
                    solo: {
                        text: "Prefiro realizar a flexão no SOLO",                                            
                    },
                    barra: {
                        text: "Prefiro realizar a flexão na BARRA FIXA",
                        className:'sweet-warning',
                    },
                },
                dangerMode: true,
            }).then((value) => {
                switch (value) {
                
                    case "barra":
                        swal("Você escolheu a FLEXÃO NA BARRA FIXA", "Caso queira alterar sua escolha, mude a idade e volte para sua faixa etária correta", "success", {timer: 7000,});
                        $(".f_solo").val('')
                        $(".f_solo").prop('disabled', true);
                        break;
                
                    case "solo":
                        swal("Você escolheu a FLEXÃO DE BRAÇO NO SOLO", "Caso queira alterar sua escolha, mude a idade e volte para sua faixa etária correta", "success", {timer:7000,});
                        $(".f_barra").val('')
                        $(".f_barra").prop('disabled', true);
                        break;                
                }
            });                    
        }
        else{
            $(".shuttle").prop('disabled', false);
            $(".f_barra").prop('disabled', false);
            $(".f_solo").prop('disabled', false);
        }
        
    });
</script>
