<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% load static %}
<title>Calculadora TAF | PMRN</title>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<div class="container text-center">
    <br>
    <h2>Resultado:</h2>    
    {% if situacao == "Aprovado" %}
        <h1 class="alert alert-success"><span class="badge badge-success">            
                {% if origem == "eacf6_feminino" %}
                    APTA
                {% else %}
                    APROVADA
                {% endif %}
            </span>
        </h1>
    {% endif %}
    {% if situacao == "Reprovado" %}
        <h1 class="alert alert-danger"><span class="badge badge-danger">
                {% if origem == "eacf6_feminino" %}
                    INAPTA
                {% else %}
                    REPROVADA
                {% endif %}
            </span>
        </h1>
    {% endif %}

    <div class="alert alert-dark text-left">
        <h4>Seus índices:</h4>
        <hr>
        <h5>Corrida: {{ n1 }}</h5>
        <h5>Shuttle run: {{ n2 }}</h5>
        <h5>Contração na barra: {{ n3 }}</h5>
        <h5>Flexão no solo: {{ n4 }}</h5>
        <h5>Abdominais: {{ n5 }}</h5>
        <hr>
        <h5>Média geral: {{ media_geral }}</h5>
    </div>    
    <div class="form-group">
        <a onClick="history.go(-1)" class="btn btn-outline-info btn-lg btn-block">Voltar</a>
    </div>
    <div class="form-group text-center">
        <a class="btn btn-outline-danger" 
        href="https://drive.google.com/file/d/1O3kYNyWnctQHHcJXGC5DGy2qzRGs4Dl4/view?usp=sharing" 
        target="_blank">Dúvidas sobre os índices? Clique aqui.</a>
    </div>    
</div>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Desenvolvido pelo 3º Sgt PM Vanderson |  
      <a class="text-dark" href="https://www.instagram.com/6bpm.pmrn/" target="_blank">Assecom | 6º BPM</a>
    </div>
    <!-- Copyright -->
</footer>